<nav class="navbar navbar-default">
    <div class="container-fluid">
      <p class="navbar-text">
        <h1 class="logo">
          <%= link_to "Yelp", root_path %>
            <%= link_to "About Us", pages_about_path, class:"btn btn-link" %>
              <%= link_to "Contact Us", pages_contact_path, class:"btn btn-link" %>      
      </p>  
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>