.jumbotron {
	background-color: #FFFFE7;
	border: 1px solid #FFDB94;
 h1 {
 		color: #C41200;
 		font-weight: bold;
	}
 p {
 		color: #C41200;
 }	
}

.navbar-default {
	.container-fluid {
		background-color: #C41200;
	}
}

a.btn.btn-link {
	color: #ffffff;
}

a.navbar-brand {
	color: #ffffff;
}

ul.nav.navbar-nav.navbar-right {
	color: #ffffff;
}

ul {
    color: #ffffff;
}